p{
    text-align: justify;
    justify-content: center;
    margin-top: 12px;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 50px;
    text-justify: auto;
    margin-left: 40px;
    margin-right: 40px;
}